{{ define "title"}} - About{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<div class="row">
  <h2>About</h2>
  <p>アイカツスターズ！の字幕入り画像を検索できます。<br />字幕の抽出にはGoogle Cloud Vison APIを使っているため、文字列として正確に字幕が登録されているとは限りません。フォームから修正していただけると助かります。</p>
</div>
{{ end }}
{{ define "foot" }}{{ end }}
