{{ define "title"}} - 画像検索{{ end }}
{{ define "head" }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{{ end }}
{{ define "content" }}
<h2>画像検索</h2>
<form id="search" method="get" action="/search">
	<label for="query">検索キーワード:</label>
	<input type="text" id="query" name="q" value="{{ .q }}">
	<input type="submit" value="検索"/>
</form>
{{ range .images }}
	<img width="500px" src="{{ .Path }}">
{{ end }}
{{ end }}
{{ define "foot" }}
<script type="text/javascript">
$(function(){
  $('form#search').submit(function(){
    action = $(this).attr('action');
    q = $('input[name="q"]').val();
    $(this).attr('action', action + '?q=' + encodeURIComponent(q));
  });
});
</script>
{{ end }}
