{{ define "title"}} - 画像詳細{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}

<h2>画像詳細</h2>
<form id="image" method="post" action="/image/update">
{{ with .image }}
  <img width="800px" src="{{ .Path }}">
  <input type="hidden" name="id" value="{{ .ID }}">
  <br>
  <label for="sentence">登録文字列:</label>
  {{ with .Sentence }}
	<input type="text" size="64" name="sentence" value="{{ if .Valid }}{{ .String }}{{ end }}">
  {{ end }}
  <br>
  <input type="submit" value="更新する">
{{ end }}
</form>

{{ end }}
{{ define "foot" }}{{ end }}
