{{ define "title"}} - 画像詳細{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}

<div class="row">
  <h2>画像(大)</h2>
  {{ with .image }}
    <img class="img-fluid" src="{{ .Path | ImagePath }}">
  {{ end }}
</div>

{{ end }}
{{ define "foot" }}{{ end }}
